<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div id="header">
      <a href="/"><img id="headerImg" src="/img/logo.svg"/></a>
    </div>
    <div id="content">
      <div class="wrapper">
        {{{body}}}
      </div>
    </div>
    <div id="footer">
      <div class="wrapper">
        <p>If you are interested in painlessly <a href="http://help.modulus.io/customer/portal/articles/1640060-getting-started-guide" target="_blank">deploying</a> this to Modulus for yourself (or if you want to put your eyeballs on the code) check out the <a href="https://github.com/Moxles/getting-started" target="_blank">Github repository</a>. Don't forget to be social!</p>
        <div id="social">
          <a href="https://twitter.com/onmodulus" target="_blank"><i class="fa fa-twitter-square"></i></a>
          <a href="https://www.facebook.com/OnModulus" target="_blank"><i class="fa fa-facebook-square"></i></a>
          <a href="https://github.com/onmodulus" target="_blank"><i class="fa fa-github-square"></i></a>
          <a href="https://www.linkedin.com/company/2673552" target="_blank"><i class="fa fa-linkedin-square"></i></a>
          <a href="https://plus.google.com/+ModulusIo" target="_blank"><i class="fa fa-google-plus-square"></i></a>
        </div>
      </div>
    </div>
  </body>
</html>
